<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Getting Started</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/gay.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body ng-controller="mainController">


	<header>
		<nav class="navbar navbar-inverse">
			<a class="navbar-brand">Mods R Us</a>
			<ul class="navbar-nav nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/login.html">Login</a>
				</li>
				<li>
					<a href="/list.html">Submit a Modlist!</a>
				</li>
				<li>
					<a href="/newmod.html">Submit Mod for Game</a>
				</li>
			</ul>
		</nav>
	</header>

	<section class="kaboom">
		<div class='content'>
			<h2>Welcome to Mods R Us</h2>
			<p>Please enjoy your stay!</p>
		</div>
	</section>

	<main>
		
		<div class="container">


			
			<h1>Latest Mod Posts:</h1>
			<!-- <div class="card card-outline-primary mb-3" ng-repeat="post in modposts"> -->
			<div class="container">
				<div class="card" ng-repeat="post in modposts">
					<div class="card-block">
						<a href = "./detailpost.html?title={{post.title}}%26time={{post.time}}%26date={{post.date}}"><h4 class="card-title">Title: {{post.title}}</h4></a>
						<p class="card-subtitle mb-2 text-muted">Author: {{post.username}}</p>
						<p class="card-subtitle mb-2 text-muted">Date: {{post.date}}</p>
						<p class="card-subtitle mb-2 text-muted">Time: {{post.time}}</p>
						<p class="card-text">Game: {{post.game_name}}</p>
						<p class="card-text">Body: {{post.body}}</p>
						
						
					</div>
				</div>
			</div>
		</div>
	</main>

	<footer>
	<p>hi</p>
	</footer>

	<!-- start javascript -->
	<script src="/js/index.js"></script>




</body>

</html>