<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Getting Started</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/gay.css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
</head>

<body ng-controller="mainController">


<header ng-include="'/header.html'"></header>

	<section class="kaboom">
		<div class='content'>
			<h2>Welcome to Mods R Us</h2>
			<p>Please enjoy your stay!</p>
		</div>
	</section>

	<main>

		<div class="container">




			<!-- <div class="card card-outline-primary mb-3" ng-repeat="post in modposts"> -->
			<div class="container">
				<h2>Latest Mod Posts:</h2>
				<div class="panel panel-default" ng-repeat="post in modposts">

						<div class="panel-heading">
							<a href = "./detailpost.html?title={{post.title}}%26time={{post.time}}%26date={{post.date}}">{{post.title}}</a>
						</div>
						<div class="panel-body">
							<p>Author: {{post.username}}</p>
							<p>Date: {{post.date}}</p>
							<p>Time: {{post.time}}</p>
							<p>Game: {{post.game_name}}</p>
							<p>Description: {{post.body}}</p>
						</div>





				</div>
			</div>
		</div>
	</main>

	<footer>
	<p>hi</p>
	</footer>

	<!-- start javascript -->
	<script src="/js/index.js"></script>




</body>

</html>
