<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Getting Started</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/gay.css">

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!--Bootstrap js-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<!--FontAwesome -->
	<script src="https://use.fontawesome.com/5bc16d66f8.js"></script>

	<!--Angular -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>
	<script src="	https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
</head>

<body ng-controller="mainController">

	<header ng-include="'/header.html'"></header>
	<div class='notifications bottom-right'></div>
	<section class="kaboom">
		<div class='content'>
			<div ng-repeat="details in modinfo">

					<h2>{{details.title}}</h2>


					<p>Date: {{details.date.substring(0,10)}}</p>

					<p>Time: {{details.time.substring(0,5)}}</p>


			</div>

		</div>
	</section>

	<main>

		<div class="container">
			<h1>Modlist Details:</h1>
			<div class="container">
				<div class = "jumbotron" ng-repeat="content in postMainContent">
					<p><a href="/user.html?username={{postMainContent[0].username}}">{{postMainContent[0].username}}</a></p>
					<button ng-click="onClickFollowButton()">{{followingButtonText}}</button>
					<button ng-click="onClickFavoriteButton()">{{favoritesButtonText}}</button>
					<p>Game Name: <a href="/game.html?name={{content.game_name}}%26year={{content.game_release_year}}">{{content.game_name}}</a></p>
					<p>Game Release Year: {{content.game_release_year}}</p>
					<p>Modlist Description: {{content.body}}</p>
				</div>
			</div>


			<h1>Modlist:</h1>
			<div class="container" >
				<div style="word-wrap: break-word;" class = "jumbotron" ng-repeat="post in modposts">
					<p>Mod: {{post.name}}</p>
					<p>Link: {{post.link}}</p>
					<p>Description: {{post.description}}</p>
					<p>Mod ID: {{post.modid}}</p>


				</div>
			</div>

			<h1>Comments:</h1>
			<div class="container">
				<textarea type="text" placeholder="Make a Comment" ng-model="userPostComment.comment_body" class="form-control" aria-describedby="sizing-addon1"></textarea>
				<button ng-click="postComment(userPostComment)">Post Comment</button>
				<div style="word-wrap: break-word;" class = "jumbotron" ng-repeat="comment in comments track by $index">
					<p>Username: {{comment.username}}</p>
					<p>Date of Comment: {{comment.comment_date}}</p>
					<p>Time of Comment: {{comment.comment_time}}</p>
					<p>Comment: {{comment.comment_body}}</p>
				</div>
			</div>

		</div>
	</main>

	<footer>
	<p>hi</p>
	</footer>

	<!-- start javascript -->
	<script src="/js/detailpost.js"></script>




</body>

</html>
