<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Submit Modlist</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/gay.css">

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!--FontAwesome -->
	<script src="https://use.fontawesome.com/5bc16d66f8.js"></script>
	
	<!--Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

	
</head>

<body ng-controller="mainController">

	<header>
		<nav class="navbar navbar-inverse">
			<a class="navbar-brand">home</a>
			<ul class="navbar-nav nav">
				<li>
					<a href="/">asd</a>
				</li>
				<li>
					<a href="/">Dar</a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="container">
		<div class="jumbotron text-center">
			<h1>Submit Modlist 🤔</h1>
			</div>
		</div>

		

		<div class="container">
			<form ng-submit="savePost(modPost)">
	          <div class="form-group">

				<h2>Title:</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon"><i class="fa fa-pencil fa-lg"></i></span>
					<input type="text" placeholder="Title of Modlist" ng-model="modPost.title" class="form-control input-group-lg">
				</div>
			
				<h2>Game:</h2>
				<div class="input-group input-group-lg fa-lg">
					<span class="input-group-addon"><i class="fa fa-gamepad"></i></span>
					<select class="form-control gameSelect" ng-model="modPost.game_name" data-live-search="true">
						<option ng-repeat="game in games | orderBy: 'name'">{{game.name}}</option>
					</select>
				</div>

				<div class="modsSelected">
					<h2>Mods:</h2>
					<div class="input-group input-group-lg fa-lg">
						<span class="input-group-addon"><i class="fa fa-puzzle-piece"></i></span>
						<select class="form-control modSelect" ng-model="modSelected.name" data-live-search="true">
							<option ng-repeat="mod in modsForGame | orderBy: 'name'" >{{mod.name}}</option>
						</select>
					</div>
					<div class="jumbotron">
						<div class="row">
							<div class="col" ng-repeat="mods in modsAdded"> {{mods.name}} </div>
						</div>

					</div>
				</div>
				<h2>Description:</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-pencil fa-lg"></i></span>
					<textarea type="text" placeholder="Description" ng-model="modPost.body" class="form-control" aria-describedby="sizing-addon1" id="modDescription"> </textarea>
				</div>
	          </div>
			

			

	          <button type="submit" class="btn btn-primary">Submit</button>
	        </form>

		</div>
		

	</main>

	<footer>
	<p>hi</p>
	</footer>

	<!-- start javascript -->
	<script src="/js/list.js"></script>
	


</body>

</html>