<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Submit Modlist</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/mainstyle.css">

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!--Bootstrap js-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


	<!--FontAwesome -->
	<script src="https://use.fontawesome.com/5bc16d66f8.js"></script>

	<!--Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>
	<script src="	https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>


</head>

<body ng-controller="mainController">

	<header ng-include="'/header.html'"></header>

	<main>
		<div class="container">
		<div class="jumbotron text-center">
			<h1>Submit Modlist</h1>
		</div>

		<div class="alert alert-danger" role="alert" ng-show="errorlogin">
			 <strong>You must be logged in first!</strong> Please login <a href="/login.html" class="btn btn-primary"> HERE </a>
		</div>
		<div class="alert alert-success" role="alert" ng-show="successpost">
			 <strong>Success!</strong> You have submitted a new post!
		</div>



			<form ng-submit="savePost(modPost)" ng-show="!errorlogin">
	          <div class="form-group">

				<h2>Title:</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon"><i class="fa fa-pencil fa-lg"></i></span>
					<input type="text" placeholder="Title of Modlist" ng-model="postTitle" class="form-control input-group-lg">
				</div>

				<h2>Game Name and Release Year:</h2>
				<div class="input-group input-group-lg fa-lg">
					<span class="input-group-addon"><i class="fa fa-gamepad"></i></span>
					<select ng-change="gameSelectChange()" ng-options = "game.name group by game.releaseyear for game in games" class="form-control gameSelect" ng-model="gameChosen" data-live-search="true">
					</select>
				</div>

				<div class="modsSelected">
					<h2>Mods (name - modid):</h2>
					<div class="input-group input-group-lg fa-lg">
						<span class="input-group-addon"><i class="fa fa-puzzle-piece"></i></span>
						<select ng-change="modSelectChange()" ng-options="mod.name + ' - ' + mod.modid for mod in modsForGame" class="form-control modSelect" ng-model="modSelected" data-live-search="true">
						</select>
					</div>
					<div class="jumbotron">
						<table class="table table-hover">
				      <thead>
				        <tr>
				          <th>Name of Mod - Modid</th>
				          <th>Importance to List Rating (Optional, 10 Most Important / 1 Least)</th>
				        </tr>
				      </thead>
				      <tbody ng-repeat="mods in modsAdded">
				        <td>{{mods.name}} - {{mods.modid}}</td>
				        <td>
									<select class="col form-control" ng-model="mods.config_importance_rating">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
								</td>
				      </tbody>
				    </table>


							</div>

						</div>

				<h2>Description:</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-pencil fa-lg"></i></span>
					<textarea type="text" placeholder="Description" ng-model="postBody" class="form-control" aria-describedby="sizing-addon1" id="modDescription"> </textarea>
				</div>
	          </div>




	          <button type="submit" class="btn btn-primary">Submit</button>
	        </form>

		</div>


	</main>

	<footer>
	
	</footer>

	<!-- start javascript -->
	<script src="/js/list.js"></script>



</body>

</html>
