<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Submit Mod for Game</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/mainstyle.css">

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

	<!--Bootstrap js-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


	<!--FontAwesome -->
	<script src="https://use.fontawesome.com/5bc16d66f8.js"></script>

	<!--Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>
	<script src="	https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

</head>

<body ng-controller="mainController">

	<header ng-include="'/header.html'"></header>

	<main>
		<div class="container">
		<div class="jumbotron text-center">
			<h1>Submit Mod for Game</h1>
		</div>

		<div class="alert alert-danger" role="alert" ng-show="errorlogin">
			 <strong>You must be logged in first!</strong> Please login <a href="/login.html" class="btn btn-primary"> HERE </a>
		</div>
		<div class="alert alert-success" role="alert" ng-show="successpost">
			 <strong>Success!</strong> You have submitted a new mod!
		</div>
		<div class="alert alert-danger" role="alert" ng-show="submiterror">
			 <strong>Failed to add mod!</strong> Please try again.
		</div>



			<form ng-submit="savePost()" ng-show="!errorlogin">
	          <div class="form-group">

				<h2>Game Name and Release Year:</h2>
				<div class="input-group input-group-lg fa-lg">
					<span class="input-group-addon"><i class="fa fa-gamepad"></i></span>
					<select ng-options = "game.name group by game.releaseyear for game in games" class="form-control gameSelect" ng-model="gameChosen" data-live-search="true">
					</select>
				</div>


				<h2>Name of Mod:</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon"><i class="fa fa-pencil fa-lg"></i></span>
					<input type="text" placeholder="Name" ng-model="modPost.name" class="form-control input-group-lg">
				</div>


				<h2>Link to Mod (Starting with http or https):</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon"><i class="fa fa-pencil fa-lg"></i></span>
					<input type="text" placeholder="Link" ng-model="modPost.link" class="form-control input-group-lg">
				</div>

				<h2>Type of Mod:</h2>
				<div class="input-group input-group-lg fa-lg">
					<span class="input-group-addon"><i class="fa fa-puzzle-piece"></i></span>
					<select ng-init="modType = 'no'" class="form-control" ng-model="modType" data-live-search="true">
						<option value="no" selected>No Special Type</option>
						<option value="addon">Add-On Mod</option>
						<option value="graph">Graphical Mod</option>
						<option value="un">Un-Official Patch Mod</option>
					</select>
				</div>

				<div ng-show="modType == 'addon'">
					<h2>Hours Added:</h2>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
						<input type="text" placeholder="Number of Hours" ng-model="hoursAdded" class="form-control input-group-lg">
					</div>
					<h2>Number of New Items:</h2>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="fa fa-shopping-basket fa-lg"></i></span>
						<input type="text" placeholder="Number of New Items" ng-model="numNewItems" class="form-control input-group-lg">
					</div>
				</div>
				<div ng-show="modType == 'graph'">
					<h2>Resulotion (In the form "numxnum" i.e. 1600x900, 480x320):</h2>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="fa fa-tv fa-lg"></i></span>
						<input type="text" placeholder="Resolution" ng-model="resolution" class="form-control input-group-lg">
					</div>
					<h2>Frames Per Second:</h2>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="fa fa-automobile fa-lg"></i></span>
						<input type="text" placeholder="FPS" ng-model="fps" class="form-control input-group-lg">
					</div>
				</div>
				<div ng-show="modType == 'un'">
					<h2>Version Numebr (in form like x.x i.e. 2.6 or 1.4.8):</h2>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="fa fa-bug fa-lg"></i></span>
						<input type="text" placeholder="Version" ng-model="versionNum" class="form-control input-group-lg">
					</div>
				</div>


				<h2>Description:</h2>
				<div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1"><i class="fa fa-pencil fa-lg"></i></span>
					<textarea type="text" placeholder="Description" ng-model="modPost.description" class="form-control" aria-describedby="sizing-addon1" id="modDescription"> </textarea>
				</div>
	          </div>




	          <button type="submit" class="btn btn-primary">Submit</button>
	        </form>

		</div>


	</main>

	<footer>

	</footer>

	<!-- start javascript -->
	<script src="/js/newmod.js"></script>



</body>

</html>
