<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Getting Started</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/gay.css">

	<!--jQuery-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!--Bootstrap js-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<!--FontAwesome -->
	<script src="https://use.fontawesome.com/5bc16d66f8.js"></script>

	<!--Angular -->

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-cookies.js"></script>
	<script src="	https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
</head>

<body ng-controller="mainController">

	<header ng-include="'/header.html'"></header>
  <main>
    <div class="container">
      <div class="jumbotron">
        <h1>{{username}}</h1>
        <h3>{{email}}</h3>
  			<button ng-click="onClickFollowButton()" class="button btn btn-primary">{{followingButtonText}}</button>
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#postsbyuser" data-toggle="tab">Posts by {{username}}</a>
        </li>
        <li>
          <a href="#favoritesbyUser" data-toggle="tab">Posts Favorited by {{username}}</a>
        </li>
        <li>
          <a href="#following" data-toggle="tab">Following: {{followingCount}}</a>
        </li>
        <li>
          <a href="#followers" data-toggle="tab">Followers: {{followersCount}}</a>
        </li>
        <li>
          <a href="#visitedPostsByUser" data-toggle="tab">Visited posts by {{username}}</a>
        </li>
      </ul>
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="postsbyuser">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Post Title</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody ng-repeat="post in postsByUser">
              <td><a href="/detailpost.html?title={{post.title}}%26time={{post.time}}%26date={{post.date}}">{{post.title}}</a></td>
              <td>{{post.date.substring(0,10)}}</td>
              <td>{{post.time.substring(0,5)}}</td>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="favoritesbyUser">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Post Title</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody ng-repeat="post in favoritesByUser">
              <td><a href="/detailpost.html?title={{post.title}}%26time={{post.time}}%26date={{post.date}}">{{post.title}}</a></td>
              <td>{{post.date.substring(0,10)}}</td>
              <td>{{post.time.substring(0,5)}}</td>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="following">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
              </tr>
            </thead>
            <tbody ng-repeat="user in following">
              <td><a href="/user.html?username={{user.is_followed}}">{{user.is_followed}}</a></td>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="followers">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Username</th>
              </tr>
            </thead>
            <tbody ng-repeat="user in followers">
              <td><a href="/user.html?username={{user.follower}}">{{user.follower}}</a></td>
            </tbody>
          </table>
        </div>
        <div class="tab-pane" id="visitedPostsByUser">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Post Title</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody ng-repeat="post in visitedPostsByUser">
              <td><a href="/detailpost.html?title={{post.title}}%26time={{post.time}}%26date={{post.date}}">{{post.title}}</a></td>
              <td>{{post.date.substring(0,10)}}</td>
              <td>{{post.time.substring(0,5)}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  <footer>

	</footer>


  <!-- start javascript -->
  <script src="/js/user.js"></script>

</body>


</html>
